<!-- game_manager/templates/game_manager/confirm_delete.html -->
{% extends 'game_manager/base.html' %}

{% block title %}{{ title }} - Менеджер сценариев RPG{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-danger text-white">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body">
        <p class="lead">{{ message }}</p>
        
        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <a href="javascript:history.back()" class="btn btn-secondary">Отмена</a>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
